// global

.float-nav-parent{
		top: 50%;
	z-index:1000;
}

.float-nav-child {
	position: relative;
	top: 50%;
	transform:translateY(-50%);}

#number-2  {
	z-index:1000;
}

body{
	background-color:black
}