

/* gold grad 0*/
.gold-0 {

background: rgba(216,177,48,1);
background: -moz-linear-gradient(left, rgba(216,177,48,1) 0%, rgba(216,177,48,1) 9%, rgba(186,131,44,1) 24%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(216,177,48,1)), color-stop(9%, rgba(216,177,48,1)), color-stop(24%, rgba(186,131,44,1)), color-stop(39%, rgba(190,147,47,1)), color-stop(67%, rgba(241,194,52,1)), color-stop(100%, rgba(149,105,10,1)));
background: -webkit-linear-gradient(left, rgba(216,177,48,1) 0%, rgba(216,177,48,1) 9%, rgba(186,131,44,1) 24%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -o-linear-gradient(left, rgba(216,177,48,1) 0%, rgba(216,177,48,1) 9%, rgba(186,131,44,1) 24%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -ms-linear-gradient(left, rgba(216,177,48,1) 0%, rgba(216,177,48,1) 9%, rgba(186,131,44,1) 24%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: linear-gradient(to right, rgba(216,177,48,1) 0%, rgba(216,177,48,1) 9%, rgba(186,131,44,1) 24%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8b130', endColorstr='#95690a', GradientType=1 );}


/* gold grad 0*/
.gold-30 {

background: rgba(216,177,48,1);
background: -moz-linear-gradient(30deg, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -webkit-linear-gradient(30deg, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -o-linear-gradient(30deg, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -ms-linear-gradient(30deg, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);}


/* gold grad 0*/
.gold-90 {

background: rgba(216,177,48,1);
background: -moz-linear-gradient(top, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(216,177,48,1)), color-stop(19%, rgba(186,131,44,1)), color-stop(39%, rgba(190,147,47,1)), color-stop(67%, rgba(241,194,52,1)), color-stop(100%, rgba(149,105,10,1)));
background: -webkit-linear-gradient(top, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -o-linear-gradient(top, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -ms-linear-gradient(top, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: linear-gradient(to bottom, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8b130', endColorstr='#95690a', GradientType=0 );}


/* gold grad 0*/
.gold-45 {

background: rgba(216,177,48,1);
background: -moz-linear-gradient(45deg, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(216,177,48,1)), color-stop(19%, rgba(186,131,44,1)), color-stop(39%, rgba(190,147,47,1)), color-stop(67%, rgba(241,194,52,1)), color-stop(100%, rgba(149,105,10,1)));
background: -webkit-linear-gradient(45deg, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -o-linear-gradient(45deg, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);
background: -ms-linear-gradient(45deg, rgba(216,177,48,1) 0%, rgba(186,131,44,1) 19%, rgba(190,147,47,1) 39%, rgba(241,194,52,1) 67%, rgba(149,105,10,1) 100%);}


