@font-face {
	 font-family: "LLCircularProWeb-Black";
	 src: 	 url("../fonts/lineto-circular-pro-black-c.eot");
	 src: 	 url("../fonts/lineto-circular-pro-black-c.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/lineto-circular-pro-black-c.woff") format("woff"),
		 url("../fonts/lineto-circular-pro-black-c.ttf") format("truetype"),
		 url("../fonts/lineto-circular-pro-black-c.svg#LLCircularProWeb-Black") format("svg");
	 font-weight: 400;
	 font-style: normal;
}

@font-face {
	 font-family: "CircularPR-Light";
	 src: 	 url("../fonts/CircularPR-Light.otf");
	 font-weight: 200;
	 font-style: normal;
}




















