 body {
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
}

/*
img, svg, video, audio {
  max-width: 100%;
}
*/


/* -------------------------------------------------------------------------
 Alerts
---------------------------------------------------------------------------- */
/**
 * Alert styles. Your patterns/styles will vary.
 * You should link your main stylesheet up with Style Guide Boilerplate for
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.alert {
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #8b6d3a;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #aa4342;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c773d;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #2f7090;
}



/* -------------------------------------------------------------------------
 Breadcrumbs
---------------------------------------------------------------------------- */
/**
 * Breadcrumb styles for first pattern. Your patterns/styles will vary.
 * You should link your main stylesheet up with Style Guide Boilerplate for
 * best results. When you update your site's styles, your style guide will
 * update as well.
 */
.breadcrumb {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  padding: 8px 15px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #fff;
  *zoom: 1;
}

.breadcrumb li a {
  color: #007f96;
  text-decoration: none;
}

.breadcrumb li a:hover {
  color: #004068;
}

.breadcrumb li .divider {
  color: #767676;
  padding: 0 5px;
}

.breadcrumb .active {
  color: #555;
}

.width-150{width:150PX;}
.width-140{width:140px;}
.width-130{width:130px;}
.width-120{width:120px;}
.width-110{width:110px;}
.width-100{width:100px;}
.width-90{width:90px;}
.width-80{width:80px;}
.width-70{width:70px;}
.width-60{width:60px;}
.width-50{width:50px;}
.width-40{width:40px;}


.width-30{width:30px;}
.width-25{width:25px;}
.width-20{width:20px;}
.width-15{width:15px;}
.width-10{width:10px;}
.width-8{width:8px;}
.width-6{width:6px;}
.width-5{width:5px;}
.width-4{width:4px;}

.logo-stack{
  display:block;
  padding:1em;
}

.black {background-color:black;}
.white-text{color:white;}

.height-50 {height:1em;}